@charset "utf-8";

html {}

body {}

/* header */
#header {
    background: #3C4767;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;

}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

.icon-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid aqua;
}

.follow-removeBtn input {
    padding: 5px 10px;
    background-color: #B85656;
    color: #fff;
    border-radius: 5px;
    width: 130px;
}

.follow-btn input {
    padding: 5px 10px;
    background-color: #6D88C2;
    color: #fff;
    border-radius: 5px;
    width: 130px;
}

/* login.blade.php */
#side-bar {
    height: auto;

    width: auto;
}

#confirm {
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 20px;
    padding: 20px;
    width: auto;
    height: auto;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: #3C4766;
    border-radius: 5px;
    margin-left: 90px;
    display: flex;
    justify-content: center;
}

.btn a {
    display: inline-block;
    margin: auto 0;
    font-size: 14px;
    color: #fff;
}

.search-btn {
    width: 150px;
    height: 40px;
    background-color: #3C4766;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.search-btn a {
    display: inline-block;
    margin: auto 0;
    font-size: 14px;
    color: #fff;
}

.follow-counts {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.follower-counts {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* login.blade.php */

.menu-area {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-area p {
    color: #fff;
}

.accordion-button {
    width: 8px;
    height: 8px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    margin-bottom: 5px;
}

.accordion-button.active {
    transform: rotate(135deg);
    margin-top: 10px;
}


.accordion-menu {
    background-color: #fff;
    width: 287px;
    height: auto;
    display: none;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 102px;
    border: 1px solid #D7D7D7;
}

.accordion-menu li {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #D7D7D7;
}

.accordion-menu li:hover {
    background-color: red;
}

.accordion-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 25px;
}

.accordion-menu li a:hover {
    color: #fff;
}



/* index.blade.php */
.posts-create-container {
    height: 60px;
    border-bottom: 4px solid #D7D7D7;
    display: flex;
    align-items: center;
    padding: 20px;
}

.form-area {
    display: flex;
    height: 100%;
    width: 100%;
}

.post-form {
    height: 100%;
    width: 500px;
    padding-bottom: 40px;

    font-size: 18px;
    opacity: 0.3;
    border: none;
    margin-top: 10px;
    margin-left: 20px;

}

.create-button {
    margin-top: 40px;
    margin-left: 20px;
}

.posts-frame {
    position: relative;
    height: auto;
    padding: 20px 40px 40px;
    border-bottom: 1px solid #D7D7D7;
    display: flex;
}

.posts-frame2 {
    width: 70%;
    margin-left: 20px;
}

.posts-user-name {
    font-size: 14px;
    margin-bottom: 10px;
}

.posts-create-date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    opacity: 0.5;
}

.modalEdit {
    position: absolute;
    bottom: 10px;
    right: 100px;
}

.posts-delete {
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.posts-delete img {
    width: 50px;
    height: 50px;
}

.modal-edit {

    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.modal-inner {
    background-color: #fff;
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.update-text {
    display: block;
    padding-right: 400px;
    padding-bottom: 100px;
    margin: 30px auto 20px;
}

.modalClose {
    display: block;
    margin-left: auto;
    margin-right: 100px;
    margin-bottom: 20px;
}

/* search.blade.php */
.search-container {
    border-bottom: 4px solid #D7D7D7;
    height: auto;
    padding: 30px 50px 30px 80px;
}

.search-container span {
    margin-left: 200px;
}

.searchLists-container {
    margin: 50px 100px;
    max-width: 600px;
}

.search-icon {
    display: flex;
    align-items: center;
}

.search-icon p {
    margin-left: 20px;
}

.searchLists-frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}

.search-text {
    padding: 10px;
    border-radius: 5px;
}







/* followList.blade.php */
.follow-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.followLists {
    height: auto;
    border-bottom: 4px solid #D7D7D7;
    padding: 30px 40px;
}

.followLists-frame {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: 50px;
}

.followLists-frame a {
    margin: 10px;
}

.follow-posts-frame {
    position: relative;
    height: auto;
    padding: 20px 40px 40px;
    border-bottom: 1px solid #D7D7D7;
    display: flex;

}

.follow-posts-frame2 {
    width: 70%;
    margin-left: 20px;
}

.follow-username {
    font-size: 14px;
    margin-bottom: 10px;
}

.follow-create-date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    opacity: 0.5;
}






/* follower.blade.php */
.follower-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.followerLists {
    height: auto;
    border-bottom: 4px solid #D7D7D7;
    padding: 30px 40px;
}

.followerLists-frame {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: 50px;
}

.followerLists-frame a {
    margin: 10px;
}

.follower-posts-frame {
    position: relative;
    height: auto;
    padding: 20px 40px 40px;
    border-bottom: 1px solid #D7D7D7;
    display: flex;

}

.follower-posts-frame2 {
    width: 70%;
    margin-left: 20px;
}

.follower-username {
    font-size: 14px;
    margin-bottom: 10px;
}

.follower-create-date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    opacity: 0.5;
}






/* profile.blade.php */
.profile-conteiner {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
}

.profile-frame {
    padding-top: 20px;
    margin-left: 20px;
}


.profile-inner-row {
    display: flex;
    margin-bottom: 30px;
    font-size: 18px;
}

.profile-label {
    width: 150px;
    margin-right: 50px;
}

.profile-form {
    background-color: whitesmoke;
    border: none;
    border-bottom: 1px solid #3C4766;
    font-size: 18px;
    padding: 5px;
}



#profile-image {
    padding: 50px;
}

.profile-submit {
    display: flex;
    justify-content: center;
}

.profile-submitBtn {
    padding: 7px 50px;
    background: #789578;
    border: none;
    border-radius: 5px;
    color: #fff;
}





/* otherProfile.blade.php */
.othersProfile-container {
    height: auto;
    padding: 40px 80px;
    border-bottom: 4px solid #D7D7D7;
    position: relative;
}

.othersProfile-frame {
    display: flex;

}

.othersProfile-frame img {
    margin-right: 30px;
}

.othersProfile-inner {
    display: flex;
    height: auto;
}

.otherProfile-inner-row {
    display: flex;
    padding-top: 10px;
    margin-bottom: 10px;
}

.otherProfile-label {
    width: 80px;
}

.otherProfile-value {
    margin-left: 10px;
}

.otherProfile-btn {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.otherPosts-frame {
    position: relative;
    height: auto;
    padding: 20px 40px 40px;
    border-bottom: 1px solid #D7D7D7;
    display: flex;
}

.otherPosts-inner {
    width: 70%;
    margin-left: 20px;
}

.otherPosts-username {
    font-size: 14px;
    margin-bottom: 10px;
}

.otherPosts-create-date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    opacity: 0.5;
}


/* login.blade.php  main */

.login-container {
    width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    margin: 0 auto;
    position: relative;
    top: 250px;
}

.login-frame {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-frame p {
    margin-bottom: 30px;
}

.login-inner {
    margin-bottom: 20px;
}

.login-label {
    margin-bottom: 5px;
}

.login-form {
    border-radius: 5px;
    padding: 5px;
}

.login-btn {
    margin-left: 150px;
    margin-bottom: 50px;
}

.login-register a {
    text-decoration: none;
    color: #fff;
}

/* logout.blade.php  */
.logout-header {
    position: relative;
}

.logout-frame {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.logout-frame p {
    color: #fff;
    font-size: 28px;
}

/* register.blade.php */
.register-container {
    width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    margin: 0 auto;
    position: relative;
    top: 250px;
}
